$mainheader: 32px;
$subheader: 26px;
$miniheader: 10px;
$background-color: #FDFDFF;
$navbar-color: #90AFBC;
$secondary-background: #8BDFF7;
$tertiary-color: #99E1B1;
$border-color: #C0C0C0;
$button_text_color: black;
$header_font_style: 'Roboto Slab', serif;


@import './comp/navigation.scss';
@import './comp/home.scss';
@import './comp/homeImages.scss';

body, html, div, span, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

#root, .App {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100%;
  min-width: 100%; 
  width: 100%;
  height: 100%;
}

body, html {
  background-color: $background-color;	
}

a {
  margin: 14px;
  text-decoration: none!important;
}

.section-container {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  padding: 0 80px!important;
}

.container-row {
  display: flex;
  flex-direction: row!important;
}

.container-column {
  display: flex;
  flex-direction: column!important;
}
.mainheader {
  font-size: $mainheader;
  display: inline-block;
  margin: 1em 0 1em 0;
}

.subheader {
  font-size: $subheader;
  margin-bottom: 0.5em;
}

.miniheader {
  font-size: $miniheader;
}
.chartjs-graph {
  align-self: center;
  display: flex;
  justify-content: center;
  .dev-skill {
    margin: 0.5em;
    text-align: center;
  }
}

.skills-container {
  padding-right: 40px!important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-rotate {
  -webkit-animation: rotateY 1s 0s linear;
  animation: rotateY 1s 0s linear;
}

.circle-rotate-slow {
  -webkit-animation: rotateY 1.3s 0s linear;
  animation: rotateY 1.3s 0s linear;
}

@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}