$mainheader: 32px;
$subheader: 26px;
$sectionheader: 16px;
$main-font-size: 14px;
$miniheader: 10px;
$background-color: #FDFDFF;
$navbar-color: #90AFBC;
$popover-border-color: black;
$secondary-background: #8BDFF7;
$tertiary-color: #99E1B1;
$border-color: #C0C0C0;
$button_text_color: black;
$header_font_style: 'Roboto Slab', serif;

@mixin background-image($url, $size, $repeat, $position) {
  background-image: url($url);
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

body, html, div, span, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

#root, .App, .background-container, body, html {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.background-container {
  width: 90%;
  max-width: 1280px;
  padding: 0 100px;
}

body, html {
  background-color: $background-color;	
}

a {
  margin: 14px;
  text-decoration: none!important;
}

.section-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 15px;
  width: 90%;
  height: auto;
  max-width: 1440px;
}

.container-row {
  display: flex;
  flex-direction: row!important;
}

.container-column {
  display: flex;
  flex-direction: column!important;
}

.subsection {
  margin-bottom: 35px;
}

.mainheader {
  font-size: $mainheader;
  display: inline-block;
  margin: 1em 0 1em 0;
}

.subheader {
  font-size: $subheader;
  margin-bottom: 0.5em;
}

.sectionheader {
  font-size: $sectionheader;
  margin-bottom: 0.5em;
}

.miniheader {
  font-size: $miniheader;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-rotate {
  -webkit-animation: rotateY 1s 0s linear;
  animation: rotateY 1s 0s linear;
}

.circle-rotate-slow {
  -webkit-animation: rotateY 1.3s 0s linear;
  animation: rotateY 1.3s 0s linear;
}

@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}


@import './comp/navigation.scss';
@import './comp/home.scss';
@import './comp/homeImages.scss';
@import './comp/contactCard.scss';
@import './comp/sqlDisplay.scss';
@import './comp/imageCard.scss';
@import './comp/aboutMe.scss';
@import './comp/currentProject.scss';
