.about-me-container {
  width: 100%;
  height: 100%;
  .section-container {
    flex-wrap: wrap;
    flex-direction: row;
    .chartjs-graph {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      .dev-skill {
        margin: 5px;
        flex: 0 1 calc(15% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}