.current-project-container {
  width: 100%;
  height: 500px;
  margin: 50px 0 80px 0;
  .highlight-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    .highlight-image {
      width: 50%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
    }
    .highlight-content {
      height: 100%;
      width: 50%;
      padding: 0 50px 0 50px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
    }
  }
}