i, .profile-icons {
  color: black;
}

.outline {
  border: 1px solid black;
  padding: 0;
}

.home-images {
  height: 50%;
  width: 90%;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.image-one {
  height: 100%;
  width: 33%;
}

.image-two, .image-three {
  height: 50%;
}

.image-column {
  width: 66%;
}