.image-container {
  height: auto;
  width: 100%;
  margin: 1.5em auto!important;
  .home-image1 {
    -moz-animation: fadein 0.5s;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }
  .home-image2 {
    -moz-animation: fadein 0.8s;
    -webkit-animation: fadein 0.8s;
    animation: fadein 0.8s;
  }
  .home-image3 {
    -moz-animation: fadein 1.1s;
    -webkit-animation: fadein 1.1s;
    animation: fadein 1.1s;
  }
  .home-image4 {
    -moz-animation: fadein 1.4s;
    -webkit-animation: fadein 1.4s;
    animation: fadein 1.4s;
  }
  .home-image5 {
    -moz-animation: fadein 1.7s;
    -webkit-animation: fadein 1.7s;
    animation: fadein 1.7s;
  }
  .home-image6 {
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
  }
  .home-image7 {
    -moz-animation: fadein 2.3s;
    -webkit-animation: fadein 2.3s;
    animation: fadein 2.3s;
  }
  .home-image8 {
    -moz-animation: fadein 2.6s;
    -webkit-animation: fadein 2.6s;
    animation: fadein 2.6s;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}