.home-images {
  margin-top: 32px;
}

.image-one {
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

.image-two {
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

.image-three {
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}