.projects-container {
  height: 100%;
  width: 100%;
  display: inline-block;
  .project-cards {
    overflow-x: visible;
    position: relative;
    .scroll-container {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      padding: 0 40px;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: scroll;
      position: relative;
    }
    .control {
      height: 100%;
      width: 40px;
      cursor: pointer;
      &.right-container {
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
          .right-control {
            border-color: black;
          }
        }
      }
      &.left-container {
        position: absolute;
        top: 0;
        left: 0;
        &:hover {
          .left-control {
            border-color: black;
          }
        }
      }
      i.arrow {
        border: solid rgba(0, 0, 0, 0.8);
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 8px;
        &.right-control {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          position: absolute;
          top: calc(50% - 8px);
          right: 20px;
        }
        &.left-control {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          position: absolute;
          top: calc(50% - 8px);
          left: 20px;
        }
      }
    }
  }
}