.projects-container {
  height: 100%;
  width: 100%;
  display: inline-block;
  .project-cards {
    overflow-x: visible;
    position: relative;
    .scroll-container {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      padding: 0 40px;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: scroll;
      position: relative;
    }
    .control {
      height: 100%;
      width: 40px;
      cursor: pointer;
      &.right-container {
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
          .right-control {
            border-color: black;
          }
        }
      }
      &.left-container {
        position: absolute;
        top: 0;
        left: 0;
        &:hover {
          .left-control {
            border-color: black;
          }
        }
      }
      i.arrow {
        border: solid rgba(0, 0, 0, 0.8);
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 8px;
        &.right-control {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          position: absolute;
          top: calc(50% - 8px);
          right: 20px;
        }
        &.left-control {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          position: absolute;
          top: calc(50% - 8px);
          left: 20px;
        }
      }
    }
  }

  // Project Details section
  .project-details {
    .mainheader {
      text-transform: capitalize;
    }
    .inner-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 300px;
      width: 100%;
      .content-description {
        width: calc(66% - 15px);
        margin: 0 0 15px 0;
        padding: 0 32px 32px 32px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      }
      .content-tech {
        width: 33%;
        margin-bottom: 15px;
        padding: 0 32px 32px 32px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        li {
          text-transform: capitalize;
        }        
      }
    }
    .content-images {
      height: fit-content;
      width: 100%;
      padding: 0 32px 32px 32px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      .images-container {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        width: 100%;
        .project-image {
          height: 165px;
          width: 165px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50%;
          margin: 5px;
          flex: 1 0 auto;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .projects-container {
    .project-cards {
      .scroll-container {
        padding: 0;
      }
    }
    .project-details {
      flex-wrap: wrap;
      .inner-container {
        flex-flow: column nowrap;
        height: fit-content;
        margin-bottom: 15px;
        .mainheader {
          margin: 15px 0;
        }
        .content-tech {
          width: 100%;
          margin: 0;
          padding: 0 15px 15px 15px;
        }
        .content-description {
          width: 100%;
          padding: 0 15px 15px 15px;
        }
      }
      .content-images {
        padding: 0 15px 15px 15px;
      }
    }
  }
}