.nav-container {
  background-color: #90AFBC !important;
}

.navigation {
  display: flex;
  justify-content: flex-end !important;
}
.navigation a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

.nav-logo {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 2px;
  border-radius: 25px;
  width: 80px;
  height: 30px;
}

.nav-button:hover {
  background-color: black;
  color: white;
  transition: 0.1s linear;
}

.active {
  color: white !important;
  background-color: black !important;
}

i, .profile-icons {
  color: black;
}

.outline {
  border: 1px solid black;
  padding: 0;
}

.home-images {
  height: 50%;
  width: 90%;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.image-one {
  height: 100%;
  width: 33%;
}

.image-two, .image-three {
  height: 50%;
}

.image-column {
  width: 66%;
}

.home-images {
  margin-top: 32px;
}

.image-one {
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

.image-two {
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

.image-three {
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body, html, div, span, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

#root, .App {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
}

body, html {
  background-color: #FDFDFF;
}

a {
  margin: 14px;
  text-decoration: none !important;
}

.section-container {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  padding: 0 80px !important;
}

.container-row {
  display: flex;
  flex-direction: row !important;
}

.container-column {
  display: flex;
  flex-direction: column !important;
}

.subsection {
  margin-bottom: 35px;
}

.mainheader {
  font-size: 32px;
  display: inline-block;
  margin: 1em 0 1em 0;
}

.subheader {
  font-size: 26px;
  margin-bottom: 0.5em;
}

.sectionheader {
  font-size: 16px;
  margin-bottom: 0.5em;
}

.miniheader {
  font-size: 10px;
}

.chartjs-graph {
  align-self: center;
  display: flex;
  justify-content: center;
}
.chartjs-graph .dev-skill {
  margin: 0.5em;
  text-align: center;
}

.skills-container {
  padding-right: 40px !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-rotate {
  -webkit-animation: rotateY 1s 0s linear;
  animation: rotateY 1s 0s linear;
}

.circle-rotate-slow {
  -webkit-animation: rotateY 1.3s 0s linear;
  animation: rotateY 1.3s 0s linear;
}

@-webkit-keyframes rotateY {
  to {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes rotateY {
  to {
    transform: rotateY(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
