@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body, html {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  display: inline-block;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

body, html, div, span, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

.bs-column {
  padding-left: 0;
  padding-right: 0;
}

a {
  margin: 14px;
  text-decoration: none !important;
}

.section-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 15px;
  width: 90%;
  height: auto;
  max-width: 1440px;
}

.container-row {
  display: flex;
  flex-direction: row !important;
}

.container-column {
  display: flex;
  flex-direction: column !important;
}

.subsection {
  margin-bottom: 35px;
}

.mainheader {
  font-size: 32px;
  display: inline-block;
  margin: 1em 0 1em 0;
}

.subheader {
  font-size: 26px;
  margin-bottom: 0.5em;
}

.sectionheader {
  font-size: 20px;
  margin-bottom: 0.5em;
}

.miniheader {
  font-size: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-show {
  display: block !important;
}

.css-hide {
  display: none !important;
}

.circle-rotate {
  -webkit-animation: rotateY 1s 0s linear;
  animation: rotateY 1s 0s linear;
}

.circle-rotate-slow {
  -webkit-animation: rotateY 1.3s 0s linear;
  animation: rotateY 1.3s 0s linear;
}

@-webkit-keyframes rotateY {
  to {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes rotateY {
  to {
    transform: rotateY(360deg);
  }
}
.nav-container.scrolled {
  background-color: #FFF !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.nav-container.scrolled .nav-logo {
  color: black !important;
}
.nav-container.scrolled .navigation a {
  color: black;
}
.nav-container.scrolled .navigation .nav-button {
  border: 2px black solid;
}
.nav-container.scrolled .navigation .nav-button:hover {
  background-color: black;
  color: white;
}
.nav-container.scrolled .navigation .active {
  color: white !important;
  background-color: black !important;
}

.nav-container {
  background-color: transparent !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 10;
}
.nav-container #collapse-toggle {
  display: none;
  margin-right: 14px;
  color: #FFF;
  cursor: pointer;
}
.nav-container #collapse-toggle.toggled {
  color: black !important;
}
.nav-container .navigation-container {
  width: auto;
}
.nav-container .nav-logo {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 30px;
  color: #FFF !important;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-container .navigation {
  display: flex;
  justify-content: flex-end !important;
}
.nav-container .navigation a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}
.nav-container .navigation .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: white solid 2px;
  border-radius: 25px;
  width: 80px;
  height: 30px;
}
.nav-container .navigation .nav-button:hover {
  background-color: white;
  color: black;
  transition: 0.1s linear;
}
.nav-container .navigation .active {
  color: black !important;
  background-color: white !important;
}

@media only screen and (max-width: 768px) {
  .nav-container.scrolled #collapse-toggle {
    color: black;
  }

  .nav-container .navigation {
    display: none;
    position: absolute;
    height: 204px;
    right: 0;
    padding: 55px 0 0 0;
    top: 0;
    z-index: -1;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 15px;
  }
  .nav-container .navigation a {
    color: black;
  }
  .nav-container .navigation .nav-button {
    border: 2px black solid;
  }
  .nav-container .navigation .nav-button:hover {
    background-color: black;
    color: white;
  }
  .nav-container .navigation .active {
    color: white !important;
    background-color: black !important;
  }
  .nav-container #collapse-toggle {
    display: block !important;
    color: #FFF;
  }
}
#photo-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#photo-modal .modal-content {
  position: absolute;
  height: 75%;
  width: 75%;
  top: calc(50% - 37.5%);
  left: calc(50% - 37.5%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
#photo-modal .modal-content .modal-close {
  position: absolute;
  bottom: -25px;
  left: calc(50% - 20.5px);
  color: #FFF;
  cursor: pointer;
}
#photo-modal .modal-content .modal-photo {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.home-container {
  height: 100%;
  width: 100%;
}
.home-container i, .home-container .profile-icons {
  color: black;
  cursor: pointer;
}

.jumbotron-images {
  height: 500px;
  width: 100%;
  padding: 0;
}

.img-overflow {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.img-overflow .jumbotron-header {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 170px);
  font-size: 60px;
  width: 340px;
  text-align: center;
  color: black;
  text-shadow: -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, 2px 2px 0 #FFF;
}
.img-overflow .photo-credit {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 10;
  text-align: start;
}
.img-overflow .photo-credit p.miniheader, .img-overflow .photo-credit a.miniheader {
  margin: 0 !important;
  color: #FFF;
}

.jumbo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  -moz-animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
  animation: fadein 1.5s;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.jumbo::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black !important;
  opacity: 0.5;
}

.img-overflow:hover .jumbo {
  transform: scale(1.2);
  transition: all 0.5s;
}
.img-overflow:hover .photo-credit {
  display: block;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
.img-overflow:hover .photo-credit:hover {
  font-weight: bold;
  transition: all 0.1s;
}

@media only screen and (max-width: 768px) {
  .jumbotron-images {
    height: 400px;
  }

  .img-overflow .jumbotron-header {
    font-size: 46px;
    top: calc(50% - 23px);
  }
}
@media only screen and (max-width: 568px) {
  .jumbotron-images {
    height: 300px;
  }

  .img-overflow .jumbotron-header {
    font-size: 32px;
    top: calc(50% - 16px);
  }
}
#contact-popover {
  border: black 1px solid;
  background-color: #FDFDFF;
  margin: 0;
}
#contact-popover .contact-container .section-container {
  padding: 0 !important;
  margin: 10px;
}
#contact-popover .contact-container .content-text {
  margin: 10px;
}
#contact-popover .popover-header {
  background-color: black;
  font-family: "Roboto Slab", serif;
  color: #FFF;
}
#contact-popover .arrow::before, #contact-popover .arrow::after {
  display: none;
}

.card-container {
  height: 300px;
  width: 230px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 14px;
  cursor: pointer;
  overflow: hidden;
}
.card-container:hover {
  transform: scale(1.01);
  box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.7);
  transition: all 0.2s;
}
.card-container:hover .card-image {
  transform: scale(1.05);
  transition: all 0.2s;
}
.card-container .card-overflow {
  height: 50%;
  width: 100%;
  overflow: hidden;
}
.card-container .card-overflow .card-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
}
.card-container .card-overflow .card-image::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  content: "";
}
.card-container .card-content {
  padding: 9px;
}
.card-container .card-content .card-title {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
}
.card-container .card-content .card-description {
  font-size: 14px;
}

.about-me-container {
  width: 100%;
  height: 100%;
}
.about-me-container .highlight-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}
.about-me-container .highlight-container .highlight-image {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
}
.about-me-container .highlight-container .highlight-image.odd:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: linear-gradient(to left, #FFF, transparent);
}
.about-me-container .highlight-container .highlight-image.even:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: linear-gradient(to right, #FFF, transparent);
}
.about-me-container .highlight-container .highlight-content {
  height: 100%;
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-me-container .highlight-container .highlight-content .subheader {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .about-me-container .highlight-container {
    flex-direction: column;
    height: auto;
  }
  .about-me-container .highlight-container .highlight-image {
    order: 2;
    height: 400px;
    width: 100%;
  }
  .about-me-container .highlight-container .highlight-image.odd:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: linear-gradient(to left, transparent, transparent);
  }
  .about-me-container .highlight-container .highlight-image.even:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: linear-gradient(to right, transparent, transparent);
  }
  .about-me-container .highlight-container .highlight-content {
    order: 1;
    width: 100%;
    margin: 50px 0;
    padding: 10px;
    text-align: center;
  }

  .about-me-container ~ .section-container {
    margin: 0 auto;
  }
  .about-me-container ~ .section-container .fa-stack {
    font-size: 20px;
  }
}
.projects-container {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.projects-container .project-cards {
  overflow-x: visible;
  position: relative;
}
.projects-container .project-cards .scroll-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 0 40px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: scroll;
  position: relative;
}
.projects-container .project-cards .control {
  height: 100%;
  width: 40px;
  cursor: pointer;
}
.projects-container .project-cards .control.right-container {
  position: absolute;
  top: 0;
  right: 0;
}
.projects-container .project-cards .control.right-container:hover .right-control {
  border-color: black;
}
.projects-container .project-cards .control.left-container {
  position: absolute;
  top: 0;
  left: 0;
}
.projects-container .project-cards .control.left-container:hover .left-control {
  border-color: black;
}
.projects-container .project-cards .control i.arrow {
  border: solid rgba(0, 0, 0, 0.8);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 8px;
}
.projects-container .project-cards .control i.arrow.right-control {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: calc(50% - 8px);
  right: 20px;
}
.projects-container .project-cards .control i.arrow.left-control {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: calc(50% - 8px);
  left: 20px;
}
.projects-container .project-details .mainheader {
  text-transform: capitalize;
}
.projects-container .project-details .inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
}
.projects-container .project-details .inner-container .content-description {
  width: calc(66% - 15px);
  margin: 0 0 15px 0;
  padding: 0 32px 32px 32px;
  white-space: pre-wrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.projects-container .project-details .inner-container .content-tech {
  width: 33%;
  margin-bottom: 15px;
  padding: 0 32px 32px 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.projects-container .project-details .inner-container .content-tech li {
  text-transform: capitalize;
}
.projects-container .project-details .content-images {
  height: fit-content;
  width: 100%;
  padding: 0 32px 32px 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.projects-container .project-details .content-images .images-container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: fit-content;
}
.projects-container .project-details .content-images .images-container .project-image {
  height: 165px;
  width: 165px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 14px;
  flex: 1 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.projects-container .project-details .content-images .images-container .project-image:hover {
  box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.7);
  transform: scale(1.02);
  transition: all 0.2s;
}

@media only screen and (max-width: 768px) {
  .projects-container .project-cards .scroll-container {
    padding: 0;
  }
  .projects-container .project-details {
    flex-wrap: wrap;
  }
  .projects-container .project-details .inner-container {
    flex-flow: column nowrap;
    height: fit-content;
    margin-bottom: 15px;
  }
  .projects-container .project-details .inner-container .mainheader {
    margin: 15px 0;
  }
  .projects-container .project-details .inner-container .content-tech {
    width: 100%;
    margin: 0;
    padding: 0 15px 15px 15px;
  }
  .projects-container .project-details .inner-container .content-description {
    width: 100%;
    padding: 0 15px 15px 15px;
  }
  .projects-container .project-details .content-images {
    padding: 0 15px 15px 15px;
  }
}
.resume-container {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.resume-container .mainheader {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}
.resume-container .subsection {
  margin-bottom: 50px;
}
.resume-container .subsection .resume-name {
  font-size: 36px;
  margin-bottom: 25px;
}
.resume-container .subsection .subheader {
  border-bottom: 1px solid black;
}
.resume-container .subsection .about-me {
  margin-top: 35px;
}
.resume-container .resume-contact-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 1fr));
  grid-template-rows: repeat(1, minmax(auto 1fr));
  grid-gap: 15px;
}
.resume-container .resume-contact-grid .resume-contact {
  grid-column: span 3;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(1, minmax(auto, 1fr));
  grid-template-rows: repeat(auto, minmax(auto, 1fr));
  grid-gap: 5px;
  padding: 5px 10px;
}
.resume-container .resume-contact-grid .resume-contact .contact-text {
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 1fr));
  grid-template-rows: repeat(1, minmax(auto 1fr));
  margin: 0;
  align-items: center;
  justify-items: start;
}
.resume-container .resume-contact-grid .resume-contact .contact-text .link {
  cursor: pointer;
}
.resume-container .resume-contact-grid .resume-contact .contact-text .link:hover {
  transform: scale(1.03);
  transition: all 0.2s;
}
.resume-container .resume-contact-grid .resume-contact .contact-text .fa-stack {
  grid-column: span 3;
}
.resume-container .resume-contact-grid .resume-contact .contact-text label {
  grid-column: span 9;
  margin: 0;
}
.resume-container .resume-contact-grid .resume-about-me {
  grid-column: span 9;
}
.resume-container .skills-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  margin-top: 35px;
}
.resume-container .skills-container .dev-skill {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resume-container .skills-container .dev-skill canvas {
  margin: 10px;
}
.resume-container .resume-content {
  margin: 30px 10px;
}
.resume-container .resume-content .resume-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.resume-container .resume-content .resume-header .job-title, .resume-container .resume-content .resume-header .project-title {
  font-size: 22px;
}
.resume-container .resume-content .resume-header .job-title .link-to-repo, .resume-container .resume-content .resume-header .project-title .link-to-repo {
  padding: 5px 10px;
  background-color: rgba(255, 0, 0, 0.8);
  font-size: 14px;
  color: #FFF;
  border-radius: 8px;
}
.resume-container .resume-content .resume-header .job-title .link-to-repo:hover, .resume-container .resume-content .resume-header .project-title .link-to-repo:hover {
  background-color: red;
  transition: all 0.3s;
}
.resume-container .resume-content .resume-header .job-duration {
  font-size: 14px;
  opacity: 0.8;
}
.resume-container .resume-content .job-organization {
  font-size: 20px;
}
.resume-container .resume-content .job-organization .city {
  font-size: 14px;
  opacity: 0.8;
}
.resume-container .resume-content .responsibilities-container {
  margin: 20px 0 !important;
}
.resume-container .resume-content .project-details-container {
  margin: 20px 0 !important;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 1fr));
  grid-template-rows: repeat(1, minmax(auto, 1fr));
  grid-gap: 15px;
}
.resume-container .resume-content .project-details-container .project-description {
  grid-column: span 10;
}
.resume-container .resume-content .project-details-container .project-tech {
  grid-column: span 2;
}

@media only screen and (max-width: 992px) {
  .resume-container .resume-contact-grid {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    grid-template-rows: repeat(2, minmax(auto 1fr));
  }
  .resume-container .resume-contact-grid .resume-contact {
    grid-column: auto;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-template-rows: repeat(3, minmax(auto, 1fr));
  }
  .resume-container .resume-contact-grid .resume-about-me {
    grid-column: auto;
  }
}
@media only screen and (max-width: 768px) {
  .resume-container .resume-content .resume-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .resume-container .resume-content .resume-header .job-title {
    font-size: 18px;
  }
  .resume-container .resume-content .job-organization {
    font-size: 18px;
  }
  .resume-container .resume-content .job-organization .city {
    font-size: 14px;
    opacity: 0.8;
  }
  .resume-container .resume-content .responsibilities-container {
    margin: 20px 0 !important;
  }
  .resume-container .resume-content .project-details-container .project-description {
    grid-column: span 8;
  }
  .resume-container .resume-content .project-details-container .project-tech {
    grid-column: span 4;
  }
}
@media only screen and (max-width: 568px) {
  .resume-container .resume-contact-grid {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    grid-template-rows: repeat(2, minmax(auto 1fr));
  }
  .resume-container .resume-contact-grid .resume-contact {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    grid-template-rows: repeat(5, minmax(auto, 1fr));
  }
  .resume-container .project-details-container {
    grid-template-columns: repeat(1, minmax(auto, 1fr)) !important;
    grid-template-rows: repeat(2, minmax(fit-content, 1fr)) !important;
  }
  .resume-container .project-details-container .project-description {
    grid-column: auto !important;
  }
  .resume-container .project-details-container .project-tech {
    grid-column: auto !important;
  }
}
@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
    padding: 0 !important;
  }

  @page {
    margin: 2cm !important;
  }
  .contact-text {
    color: black !important;
  }

  .section-container {
    padding: 0 !important;
  }

  #main-nav {
    display: none !important;
  }

  .footer-section {
    display: none !important;
  }

  .jumbotron-images {
    display: none !important;
  }
}
.footer-section {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  position: static;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.footer-section .footer-content {
  font-size: 14px;
  color: #FFF;
  padding-right: 20px;
}
.footer-section .contact-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
}
.footer-section .contact-container .profile-icons {
  margin: 0;
}
.footer-section .contact-container .fa-stack {
  color: #FFF;
}
.footer-section .contact-container .contact-icon {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .footer-section {
    flex-direction: column;
    height: 165px;
  }
  .footer-section .footer-content {
    font-size: 14px;
    width: 100%;
    color: #FFF;
    padding: 0 0 20px 0;
  }
  .footer-section .contact-container {
    height: 50%;
    width: 80%;
  }
}

/*# sourceMappingURL=index.css.map */
