@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body, html, div, span, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

#root, .App, .background-container, body, html {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.background-container {
  width: 90%;
  max-width: 1280px;
  padding: 0 100px;
}

body, html {
  background-color: #FDFDFF;
}

a {
  margin: 14px;
  text-decoration: none !important;
}

.section-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 15px;
  width: 90%;
  height: auto;
  max-width: 1440px;
}

.container-row {
  display: flex;
  flex-direction: row !important;
}

.container-column {
  display: flex;
  flex-direction: column !important;
}

.subsection {
  margin-bottom: 35px;
}

.mainheader {
  font-size: 32px;
  display: inline-block;
  margin: 1em 0 1em 0;
}

.subheader {
  font-size: 26px;
  margin-bottom: 0.5em;
}

.sectionheader {
  font-size: 16px;
  margin-bottom: 0.5em;
}

.miniheader {
  font-size: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-rotate {
  -webkit-animation: rotateY 1s 0s linear;
  animation: rotateY 1s 0s linear;
}

.circle-rotate-slow {
  -webkit-animation: rotateY 1.3s 0s linear;
  animation: rotateY 1.3s 0s linear;
}

@-webkit-keyframes rotateY {
  to {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes rotateY {
  to {
    transform: rotateY(360deg);
  }
}
.nav-container.scrolled {
  background-color: #FFF !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.nav-container.scrolled .nav-logo {
  color: black !important;
}
.nav-container.scrolled .navigation a {
  color: black;
}
.nav-container.scrolled .navigation .nav-button {
  border: 2px black solid;
}
.nav-container.scrolled .navigation .nav-button:hover {
  background-color: black;
  color: white;
}

.nav-container {
  background-color: transparent !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 10;
}
.nav-container .navigation-container {
  width: auto;
}
.nav-container .nav-logo {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 30px;
  color: #FFF !important;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-container .navigation {
  display: flex;
  justify-content: flex-end !important;
}
.nav-container .navigation a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}
.nav-container .navigation .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: white solid 2px;
  border-radius: 25px;
  width: 80px;
  height: 30px;
}
.nav-container .navigation .nav-button:hover {
  background-color: white;
  color: black;
  transition: 0.1s linear;
}
.nav-container .navigation .active {
  color: black !important;
  background-color: white !important;
}

.home-container {
  height: 100%;
  width: 100%;
}
.home-container i, .home-container .profile-icons {
  color: black;
  cursor: pointer;
}

.home-images {
  height: 300px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.img-overflow {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.img-overflow .photo-credit {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 10;
  text-align: start;
}
.img-overflow .photo-credit p.miniheader, .img-overflow .photo-credit a.miniheader {
  margin: 0 !important;
  color: #FFF;
}

.home-jumbo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  -moz-animation: fadein 1.5s;
  -webkit-animation: fadein 1.5s;
  animation: fadein 1.5s;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.home-jumbo::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black !important;
  opacity: 0.5;
}

.img-overflow:hover .home-jumbo {
  transform: scale(1.2);
  transition: all 0.5s;
}
.img-overflow:hover .photo-credit {
  display: block;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
.img-overflow:hover .photo-credit:hover {
  font-weight: bold;
  transition: all 0.1s;
}

#contact-popover {
  border: black 1px solid;
  background-color: #FDFDFF;
  margin: 0;
}
#contact-popover .contact-container .section-container {
  padding: 0 !important;
  margin: 10px;
}
#contact-popover .contact-container .content-text {
  margin: 10px;
}
#contact-popover .popover-header {
  background-color: black;
  font-family: "Roboto Slab", serif;
  color: #FFF;
}
#contact-popover .arrow::before, #contact-popover .arrow::after {
  display: none;
}

.sql-trigger {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: #FFF;
  background-color: red;
  width: 100px;
  height: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.sql-trigger:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

#sql-popover {
  border: black 1px solid;
  background-color: #FDFDFF;
  margin-left: 5px;
}
#sql-popover .popover-header {
  background-color: black;
  font-family: "Roboto Slab", serif;
  color: #FFF;
}
#sql-popover .arrow::before, #sql-popover .arrow::after, #sql-popover .arrow {
  display: none;
}

.card-container {
  height: 300px;
  width: 230px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  overflow: hidden;
}
.card-container .card-overflow {
  height: 50%;
  width: 100%;
  overflow: hidden;
}
.card-container .card-overflow .card-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
}
.card-container .card-overflow .card-image::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  content: "";
}
.card-container .card-overflow .card-image:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
.card-container .card-content {
  padding: 9px;
}
.card-container .card-content .card-title {
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
}
.card-container .card-content .card-description {
  font-size: 14px;
}

.about-me-container {
  width: 100%;
  height: 100%;
}
.about-me-container .section-container {
  flex-wrap: wrap;
  flex-direction: row;
}
.about-me-container .section-container .chartjs-graph {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
.about-me-container .section-container .chartjs-graph .dev-skill {
  margin: 5px;
  flex: 0 1 calc(15% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-project-container {
  display: inline-block;
  width: 100%;
  height: 500px;
  margin: 50px 0 80px 0;
}
.current-project-container .mainheader {
  text-align: center;
  margin: 0 0 50px 0;
  width: 100%;
}
.current-project-container .highlight-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.current-project-container .highlight-container .highlight-image {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.current-project-container .highlight-container .highlight-content {
  height: 100%;
  width: 50%;
  padding: 0 50px 0 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .current-project-container .highlight-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .current-project-container .highlight-container .highlight-image {
    order: 1;
    width: 100%;
  }
  .current-project-container .highlight-container .highlight-content {
    order: 2;
    width: 100%;
  }

  .current-project-container ~ .section-container {
    margin: 0 auto;
  }
  .current-project-container ~ .section-container .fa-stack {
    font-size: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
